extends ../layout

block content
  .content-wrapper
    h1.heading-title.text-center Вскички сноуборди
    .container
      .row
        each snowboard in snowboards
          .col-xl-3.col-lg-4.col-md-12.col-sm-12
            .card
              img.card-img-top(src=snowboard.imageUrl alt='...')
              .card-body
                h5.card-title= snowboard.name
                p.card-text= snowboard.model.substr(1, 100)
                p.card-text= `Цена: ${snowboard.price.toFixed(2)} лв`
                a.btn.btn-primary(href=`/snowboards/${snowboard.id}`) Детайли