extends ../layout

block content
  .content-wrapper
    //- Banner Section
    .banner-wrapper.mb-4
      .container
        img.banner-img(src='/images/banner-img.png' alt='Banner Image' class='img-fluid')

    //- Product Listings
    h1.heading-title.text-center Вскички сноуборди
    .container
      .row
        each snowboard in snowboards
          .col-xl-3.col-lg-4.col-md-12.mb-4
            .card.h-100.d-flex.flex-column
              img.card-img-top(src=snowboard.imageUrl alt='...')
              .ribbon NEW
              .card-body
                p.h3.card-title= snowboard.name
                p.card-text= snowboard.model.substr(1, 100)
                p.card-text= `Цена: ${snowboard.price.toFixed(2)} лв`
                a.btn.btn-primary.mt-auto(href=`/snowboards/${snowboard.id}`) Детайли
