extends ../layout

block content
    .content-wrapper
        .row
            .col-lg-6
                img(src=snowboard.imageUrl alt=snowboard.model style='width: 100%;')
            .col-lg-6
                .card
                    .card-body
                        h5.card-title Име
                        p.card-text= snowboard.model
                        h5.card-title Материал
                        p.card-text= snowboard.material
                        h5.card-title Дължина
                        p.card-text= snowboard.length
                        h5.card-title ID
                        p.card-text= snowboard.id
                        h5.card-title Цена
                        p.card-text= `${snowboard.price.toFixed(2)} лв`
                        .button-container
                            if user
                                if isFavorite
                                    button.btn.btn-outline-primary.btn-snowboard-detail(onclick=`toggleFavorite(${snowboard.id}, this)`) Премахни от любими
                                else
                                    button.btn.btn-primary.btn-snowboard-detail(onclick=`toggleFavorite(${snowboard.id}, this)`) Добави в любими
                                if user.role == 'admin'
                                    a.btn.btn-warning.btn-snowboard-detail(href='/snowboards/' + snowboard.id + '/edit') Промени
                            a.btn.btn-secondary.btn-snowboard-detail(href='/snowboards') Назад
                            // Add to Cart Button
                            button.btn.btn-success.btn-snowboard-detail(onclick=`addToCart(${snowboard.id}, "${snowboard.model}", ${snowboard.price}, "${snowboard.imageUrl}")`) Добави в количка

    // Toast Container
    #toast

    script.
        async function toggleFavorite(snowboardId, button) {
            try {
                const response = await fetch(`/snowboards/${snowboardId}/add-favorite`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                const result = await response.text();

                if (response.ok) {
                    // Parse result for clarity
                    const resultLowerCase = result.trim().toLowerCase(); // Trim any extra spaces or newlines

                    if (resultLowerCase === "added") {
                        button.className = "btn btn-outline-primary btn-snowboard-detail";
                        button.innerHTML = "Премахни от любими";
                        showToast('success', 'Сноубордът е добавен в любими!');
                    } else if (resultLowerCase === "removed") {
                        button.className = "btn btn-primary btn-snowboard-detail";
                        button.innerHTML = "Добави в любими";
                        showToast('info', 'Сноубордът е премахнат от любими!');
                    } else {
                     showToast('error', 'Непознат отговор от сървъра.');
                    }
                } else {
                    showToast('error', 'Грешка при обработката на заявката.');
                }
            } catch(error) {
                console.error(error);
                showToast('error', 'Грешка при обработката на заявката.');
            }
        }

        // JavaScript function to add item to cart
        function addToCart(productId, productName, price, imageUrl) {
            const cart = JSON.parse(sessionStorage.getItem('cart')) || [];
            const existingProduct = cart.find(item => item.productId === productId);
            if (existingProduct) {
                existingProduct.quantity += 1;
            } else {
                cart.push({ productId, productName, price, imageUrl, quantity: 1 });
            }
            sessionStorage.setItem('cart', JSON.stringify(cart));
            updateCartCount();
            showToast('success', `${productName} е добавен в количката.`);
        }

        function updateCartCount() {
            const cart = JSON.parse(sessionStorage.getItem('cart')) || [];
            const cartCount = cart.reduce((total, item) => total + item.quantity, 0);
            document.getElementById('cart-count').textContent = cartCount;
        }

        document.addEventListener('DOMContentLoaded', updateCartCount);

        function showToast(type, message) {
            const toastContainer = document.getElementById('toast');
            const toast = document.createElement('div');
            toast.className = `toast ${type} show`;
            toast.innerHTML = `
                <span>${message}</span>
                <button class="close" onclick="this.parentElement.remove()">×</button>
            `;
            toastContainer.appendChild(toast);

            // Remove toast after 5 seconds
            setTimeout(() => {
                if (toast) toast.remove();
            }, 5000);
        }
